.a{
    margin-top: 50px;
    width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  button{
    margin-left: 76%;
    margin-top: 2px;
    border: 3px;
    border-radius: 8px;
    background-color: blue;
    color: aliceblue;
    margin-bottom: 1.7px;
  }
}